[Desktop Entry]
Type=Application
Name=RBR Audio
Comment=Toggle the RBR audio overlay
Exec=@BIN@
Icon=audio-volume-high
Categories=AudioVideo;Audio;Mixer;
